.Header
  .Header__left Homework App
  .Header__right
    .user_name taka
    = link_to 'ログアウト', '#', class: "logout"
.Main
  .Main__contents
    .content
      .message おはよう
      .content_info
        .content_user_name びび
        .content_date 2020/7/7
  .form
    = form_with url: '#', local: true do |f|
      .form__box
        = f.text_area :content, class: 'content_form', placeholder: '文字を入力（25文字以内）'
        = f.submit '投稿する', class: 'form_btn'
.Footer Homework App 2019