* {
  box-sizing: border-box;
}

.Header {
  height: 65px;
  width: 100vw;
  background-color: #97D1E4;
  filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
  padding: 0 250px;
  display: flex;
  align-items: center;
  &__left {
    font-size: 30px;
    color: #473838;
    width: 65%;
  }
  &__right {
    display: flex;
    width: 35%;
    .user_name {
      margin-right: 30px;
      color: #473838;
    }
    .logout {
      text-decoration: none;
      color: #473838;
    }
  }
}

.Main {
  height: calc(100vh - 115px);
  background-color: #F0E8E4;
  width: 100vw;
  padding: 30px 250px;
  &__contents {
    background-color: #FFFFFF;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
    overflow: scroll;
    filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
    .content {
      display: flex;
      height: 70px;
      width: 80%;
      margin: 0 auto 10px;
      border: 1px solid #f6f6f6;
      position: relative;
      .message {
        width: 80%;
        margin: 0 10px;
        line-height: 70px;
      }
      .content_info {
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: 10px;
      }
    }
  }
  .form {
    background-color: #FFFFFF;
    filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
    margin: 30px auto;
    padding: 10px;
    &__box {
      margin: 0 auto;
      width: 80%;
      .content_form {
        width: 100%;
        height: 80px;
        resize: none;
      }
      .form_btn {
        display: block;
        margin: 10px auto 0;
      }
    }
  }
}

.Footer {
  height: 50px;
  background-color: #F0E8E4;
  text-align: center;
  color: #473838;
  padding-top: 5px;
}